<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class:"w-100 mb-2" %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon, class:"w-100 mb-5" %>
  </div>


  <div class="actions">
    <%= form.submit "Submit",class:"btn btn-warning btn-block rounded-0 py-2 mb-3" %>
  </div>

<% end %>
